*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
}



.main{
    width: 100%;
    margin: auto;
    background-color: #eee;
    padding: 1rem;
}

.header{
    text-align: center;
    padding: 1.5rem 1rem;
}

.header__title{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.header__description{
    font-weight: 300;
    margin-top: 1.2rem;
}

.main__img-container{
    padding: 0.5rem;
    background-color: #fff;
    text-align: center;
}

.main__img{
    width: 100%;
    max-width: 980px;
    margin: auto;
}

.main__img-description{
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.main__section, .main__quote-container{
    margin: auto;
    width: 80%;
    max-width: 560px;
}

.main__section-title{
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 3.3rem;
    color: #333;
}

.main__item{
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.li__date{
    color: #333;
    font-weight: 700;
}

.main__quote-container{
    margin-top: 2rem;
    padding: 1rem;
}

.main__quote{
    margin-bottom: 1rem;
    font-style: italic;
}

.footer{
    padding: 1rem;
}

.footer__content{
    text-align: center;
    color: #333;
    font-weight: 700;
    font-size: 1.1rem;
}

.content__link{
    color: #477ca7;;
}

.content__link:hover{
    color: #74638f;
}

.content__link:visited{
    color: #74638f;
}




@media(min-width: 450px){
    body{
        padding: 0.8rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .main__img-description{
        font-size: 1rem;
    }

    .main__item{
        font-weight: 400;
    }
}

